body {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.column-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center-button {
  display: flex;
  justify-self: center;
  margin: 0.4rem;
  background-color: hsl(240, 33%, 60%);
}

.column-name {
  font-size: larger;
  text-shadow: 0px 0px 8px red;
}

.not-found {
  color: rgba(151, 151, 151, 0.4);
}

.sensor-item {
  text-align: center;
  padding: 0.5rem;
}

.home-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -9999;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.country-flag-icon {
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
}

.country-name {
  text-align: center;
}

.header-buttons {
  display: flex;
  justify-content: center;

}

.page-title {
  color: #c0d6f8cb;
  text-shadow: 0px 0px 2px black;
  user-select: none;
  -moz-user-select: none;
}

.login-button {
  background-color: hsl(240, 33%, 60%);
  margin: 0.4rem;
}

.auth-buttons {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
}

.header-error {
  color: rgb(221, 71, 71);
  font-weight: bolder;
  font-size: 1.5em;

}

.counter {
  position: absolute;
  bottom: 1rem;
  left: 50vw;
}

.measurements-overview-wrap {
  height: 75vh;
  top: 20vh;
  row-gap: 0px;
  justify-items: center;
}

.sensor-overview {
  height: 10vh;
  width: 10vw;
}

.sensor-map {
  margin-bottom: 1rem;
  display: block;
  height: 28vh;
  justify-self: center;
  margin: 0;
  border: 0.6rem solid #7777BB;
  border-radius: 1rem;
  margin-top: 0.4rem;

}

.sensor-location {
  justify-self: center;
  margin: 0;
  margin-top: 1rem;
  font-size: 2em;
  font-weight: bold;
}

.latest-measure-title {
  justify-self: center;
  font-weight: bold;
  font-size: 1.3em;
  
}
.latest-measure-when{
  margin-top: -1rem;
  margin-bottom: 0.7rem;
  justify-self:center;
  font-size: small;
  color: grey;
}

.latest-measurements{
  justify-self:center;
  justify-items: center;
}

.measure{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-between;
}

.save-button{
  justify-self: center;
  margin: 1em;
  background-color: hsl(240, 33%, 60%);

}

.active{
  background-color: hsl(240, 22%, 48%);
}